<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles.css" />
    <title>Band Name Generator</title>
  </head>
  <body>
    <%- include("./partials/header.ejs") %>
    <form action="/submit" method="POST">
      <input type="submit" value="Generate" class="generate-btn" />
    </form>
    <% if(locals.randNoun && locals.randAdj){ %>
    <h1 class="band-name"><%= randAdj %> <%= randNoun %></h1>
    <% }%> <%- include("./partials/footer.ejs") %>
  </body>
</html>
